/* Enabling smooth-scroll to make things...smooth */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}



/* Setting the width to your device, for responsiveness*/
body {
  width: 100dvw;
  height: auto;
  background-color: #240000;
  font-family: sans-serif;

}

/* Setting the font family, color, size and stroke */
h1,
h2 {
  font-family: 'Stalinist One', sans-serif;
  color: #ffbf00;
  -webkit-text-stroke: 1px #1A0000;
  font-weight: 900;
}

/* setting the font size for the H1 */
h1 {
  font-size: 4rem;
}

/* setting the font size for the H2 */
h2 {
  font-size: 3rem;
}


/* Setting the color and font for links */
a {
  color: #ffbf00;
  -webkit-text-stroke: 0.2px #1A0000;
  text-decoration: none;
}

/* setting the font and making it more readable */
p {
  font-family: 'Goldman', sans-serif;
  font-size: 16px;
  line-height: 2;
  padding: 5%;
}

/* Declaring a color globally*/

:root {
  --h-fill: #ffbf00;
}

/* This is the two dark red borders on the sides of the page */
.page_bordercolumn1 {
  position: fixed;
  background-color: #410000;
  border: solid black;
  height: 100%;
  width: 10dvw;
  z-index: 3;
}

.page_bordercolumn2 {
  position: fixed;
  left: 90dvw;
  background-color: #410000;
  border: solid black;
  height: 100%;
  width: 10dvw;
  z-index: 3;
}

/* The setting the orientation and flex properties for all content including color and border */
.container {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  background-color: #750000;
  border: solid #1A0000;
}

/* setting properties for default textboxes */
.text_box {
  height: 100%;
  margin: auto;
  width: auto;
  background-color: #1A0000;
  color: #ffbf00;
  border: 1px solid #ffbf00;
  overflow: auto;
  padding: 20px;
  font-family: 'Goldman', sans-serif;

}

/* made a button to scroll back to the top, held together by hopes and dreams */
.top_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1%;
  right: 0.5%;
  z-index: 4;
  width: 8vw;
  height: 5vh;
  background-color: #92f8ff;
  color: white;
  border: none;
  border-radius: 2rem;
  cursor: pointer;

}

/* modified the text to scale with display */
.top_button p {
  color: #1f1700;
  font-size: 2dvw;
  text-align: center;

}

/* container for the landing, which contains the navigation and hero image */

.landing_container {
  background-image: url(images/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 80vw;
}

/* setting flex properties for the navigation container */
.navigation_container {
  height: 10vh;
  width: 100%;
  margin-top: 0vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* setting the nav link text properties */
.navigation_container a {
  color: var(--h-fill);
  font-size: 1vw;
  font-weight: 900;
}

/* contains all the nav buttons properties */
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 2em;
  border: solid #ffbf00;
  background-color: black;
  border-radius: 35px;
}


/* This begins the about section */


/* This is properties for all the headers */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: auto;
  background-color: #240000;
}


/* This is for setting all of the images default dimensions */
img {
  height: 100%;
  width: auto;
}

/* container for the about section */
.about_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}

/* A seperate container for the content */
.about_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

/* An id for the text holding the story of guilt gear */
#abouttxt {
  width: 40%;
  height: 75%;
  margin: 5%;
}

/* Container for the Justice image */
.about_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 40%;
  margin: 5vw;
}

/* image of justice, made responsive */
.justice {
  height: 70%;
  width: 100%;
  margin: auto;
}


/* Setting the font for Justices description tag */
#justice {
  font-family: 'Stalinist One';
  text-align: center;
  color: #e7e7e7;
  -webkit-text-stroke: 1px #2996C3;
  font-size: 3vw;
}


#justice_p {
  font-family: 'Stalinist One', sans-serif;
  font-size: 2vw;
  text-align: center;
  color: #e7e7e7;
  -webkit-text-stroke: 1px #2996C3;
  margin: 0;
}


/* container for the characters section */
.character_container {
  background-color: #750000;
  height: auto;
}

/* This controls the characters image dimensions */
.character_container .splash {
  width: 100%;
}

/* A container for each characters section */
.character {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  height: auto;
  margin: 3%;
}

/* this controls the container for the characters images */
.splash_frame {
  width: auto;
  height: 90vh;
  margin: 0;
  z-index: 2;
}

/* This is the container for the characters name and biography */
.biocontainer {
  position: relative;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 70vh;
  margin-right: 8%;
  rotate: calc(8deg);
}

/* Container for each characters video */
.video_container {
  position: relative;
  right: 50vw;
  width: 100vw;
  height: 60vh;
  border: solid;
  z-index: 0;
  overflow: hidden;
}

/* ID for the characters videos, controlling the videos dimensions and position */
#solvid {
  position: relative;
  bottom: 100%;
  width: 100%;
}

/* Sol Badguys' text properties */
#sol h2 {
  color: #fefee0;
  -webkit-text-stroke: 2px #C14D50;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  line-height: 1;
}


/* Sol's textbox */
#sol .text_box {
  background-color: #fefee0;
  color: #C14D50;
  height: 50%;
  margin: 5%;
}




/* Jack-O's Text properties */
#jacko h2 {
  color: #C14D50;
  -webkit-text-stroke: 1px #fefee0;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  line-height: 1;
}

/* Jack-O's Text Box */
#jacko .text_box {
  background-color: #C14D50;
  color: #fefee0;
  height: 50%;
  margin: 5%;
}




/* Asuka's H2 properties */
#asuka h2 {
  color: #EBE9DA;
  -webkit-text-stroke: 1px #2F555E;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  line-height: 1;
}


/* asukas textbox */
#asuka .text_box {
  background-color: #2F555E;
  color: #edece3;
  height: 50%;
  margin: 5%;
}


/* The Recommendation Section */
.recommendations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

/* container for the recommendations sections content */
.rec_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

/* H2 for Elphelts Text */
.recommendations h2 {
  font-size: 24px;
  color: rgb(255, 212, 219);
}

/* This is for the dimensions of the text box in this section */
#rec {
  width: 40%;
  height: 75%;
  margin: 5%;
}

/* properties for the container for this section */
#recommend {
  margin: auto;
  width: 100%;
}

/* The image of elphelt made responsive */
.rec_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5%;
  height: 80%;
  width: 40%;
}

/* Setting elphelts dimensions to not go beyond its original size */
.rec_img img {
  max-height: 100%;
  max-width: 100%;
}


/* The Review Section */

.review_container {
  display: flex;
  flex-direction: column;
}

/* Setting the flex properties for this sections container */
.review {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 5%;
}

/* Setting the font for this section */
.review p {
  font-size: 1rem;
}

/* A seperate div for the profile pictures and their names */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: auto;
  margin: 1%;
}

/* Setting the font for this section */
.profile p {
  font-family: 'Doppio One';
  color: #ffbf00;
  font-size: 1rem;
  font-weight: 900;
  -webkit-text-stroke: 1px #010105;
}


/* Container for the reviews text */
.text_container {
  width: 100%;
  height: 100%;
}

/* Setting the reviews text box dimensions and properties */
.review .text_box {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  height: 10vh;

}

/* setting the reviews sections text padding and margin */
.review p {
  padding: 0;
  margin: 0;
}

/* The Related Section */

/* Setting the related containers properties  */
.related_container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* Setting the recommended games dimensions and whatnot */
.related_container img {
  width: 100%;
  height: 100%;
  margin: auto;
  margin-bottom: -3%;
}

/* Setting the text box properties for this section */
.related_container .text_box {
  height: 20vh;
  width: auto;
  margin: 0 3% 3% 3%;
}

/* The section containing each games I recommend */

/* container for CyberPunk 2077 */
.cp2077_container {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: auto;
  width: 40%;


}

/* Setting the text box properties for this section */
.cp2077_container .text_box {
  color: #010105;
  background-color: #ACA697;
}

/* Container for resident evil 4's content */
.re4_container {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: auto;
  width: 40%;
}

/* Setting the text box properties for this section */
.re4_container .text_box {
  color: #010105;
  background-color: #6280A2;
}